Source: xbmc-pvr-argustv
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 8.0.0), cmake, xbmc-pvr-dev,
               libxbmcplatform-dev, xbmc-addon-dev, libjsoncpp-dev
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: xbmc-pvr-argustv
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ArgusTV PVR for XBMC
 ArgusTV PVR for XBMC

Package: xbmc-pvr-argustv-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for ArgusTV PVR for XBMC
 debug symbols for ArgusTV PVR for XBMC

