<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
  <section id="addon" label="-1" help="-1">

    <!-- Hidden category with all settings which were add-on settings before multi-instance
         support was added to this add-on. Used for settings migration, which needs minimal
         settings definition to work.

         Note that empty default values still require an allowempty constraint -->
    <category id="hidden_obsolete">
      <group id="1" label="-1">
        <setting id="hostname" type="string">
          <level>4</level> <!-- hidden -->
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
        </setting>
        <setting id="http_port" type="integer">
          <level>4</level> <!-- hidden -->
          <default>80</default>
        </setting>
        <setting id="https_port" type="integer">
          <level>4</level> <!-- hidden -->
          <default>0</default>
        </setting>
        <setting id="upnp_port" type="integer">
          <level>4</level> <!-- hidden -->
          <default>55555</default>
        </setting>
        <setting id="connection_timeout" type="integer">
          <level>4</level> <!-- hidden -->
          <default>3</default>
        </setting>
        <setting id="external_hostname" type="string">
          <level>4</level> <!-- hidden -->
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
        </setting>
        <setting id="external_http_port" type="integer">
          <level>4</level> <!-- hidden -->
          <default>19999</default>
        </setting>
       <setting id="external_https_port" type="integer">
          <level>4</level> <!-- hidden -->
          <default>0</default>
        </setting>
        <setting id="external_upnp_port" type="integer">
          <level>4</level> <!-- hidden -->
          <default>55555</default>
        </setting>
        <setting id="external_connection_timeout" type="integer">
          <level>4</level> <!-- hidden -->
          <default>10</default>
        </setting>

        <!-- Channels & EPG -->
        <setting id="set_channelid_using_order" type="integer">
          <level>4</level> <!-- hidden -->
          <default>0</default>
        </setting>

        <!-- Timeshift -->
        <setting id="timeshift_enabled" type="boolean">
          <level>4</level> <!-- hidden -->
          <default>false</default>
        </setting>
        <setting id="timeshift_path" type="path" parent="timeshift_enabled">
          <level>4</level> <!-- hidden -->
          <default>special://userdata/addon_data/pvr.vbox</default>
        </setting>
      </group>
    </category>
  </section>
</settings>
